<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Danh sách đơn hàng</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Trang chủ</li>
                            <li class="breadcrumb-item">Đơn hàng</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row my-3">
                        <div class="col-sm-6 form-inline justify-content-start">
                            <label class="pr-2">Tìm kiếm:</label>
                            <input type="text" class="form-control" ng-model="search" placeholder="Nhập tìm kiếm..." />
                        </div>
                        <div class="col-sm-6 form-inline justify-content-end">
                            <button type="button" class="btn btn-sm btn-secondary" id="saveAsExcel">
                                <i class="fa-regular fa-file-export"></i> Excel
                            </button>
                        </div>
                    </div>
                    <table id="table" class="table table-bordered dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID đơn hàng</th>
                                <th>Người đặt</th>
                                <th>Đặt ngày</th>
                                <th>Cập nhật ngày</th>
                                <th>Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in pagingItems | filter:search">
                                <td >{{item.id}}</td>
                                <td>{{item.user.username}}</td>
                                <td>{{item.createdat | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{item.updatedat | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td>
                                    <a href="admin/#!/orderdetail" ng-click="detail(item)">
                                        <i class="las la-pen text-info"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6 ">Đang xem <b>{{curPage}}</b> đến <b>{{itemsPerPage}}</b> trong tổng số
                            <b>{{items.length}}</b> mục
                        </div>
                        <div class="col-sm-6 pagination-sm" uib-pagination total-items="items.length" max-size="maxSize"
                            ng-model="curPage" rotate="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>