<div class="container-fluid" ng-app="user-app">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Chi tiết sản phẩm</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Trang chủ</li>
                            <li class="breadcrumb-item">Sản phẩm</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <!-- <input class="dropify" type="file" name="image" data-height="400" /> -->
                                    <input type="file" accept="image/*" name="image" id="link" multiple />
                                    <div>Hinh anh:</div>
                                    <div id="myDIV"></div>
                                    <input type="text" ng-model="productdata.image" id="imgs" hidden>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Mã sản phẩm</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="number" name="id" ng-model="productdata.id"
                                        disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Tên sản phẩm</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" ng-model="productdata.name" name="name"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Giá sản phẩm</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="number" ng-model="productdata.price" name="price"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Số lượng</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="number" ng-model="productdata.quantity"
                                        name="quantity" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Giảm giá</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="number" ng-model="productdata.discount"
                                        name="discount" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Người bán: </label>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" ng-model="productdata.user.username"
                                        ng-change="findUser()" name="username" required>
                                </div>
                                <label class="col-sm-2 col-form-label">ID người bán</label>
                                <div class="col-sm-4">
                                    <input class="form-control" type="number" ng-model="productdata.user.id" name="user"
                                        disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Danh mục</label>
                                        <div class="col-sm-8">
                                            <select class="custom-select" ng-model="productdata.category"
                                                name="category" required
                                                ng-options="item.id as item.name for item in cate track by item.id">
                                                <!-- <option ng-repeat="item in cate" value="{{item.id}}">{{item.name}} </option> -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Hãng</label>
                                        <div class="col-sm-8">
                                            <select class="custom-select" ng-model="productdata.company" name="company"
                                                required
                                                ng-options="item.id as item.name for item in company track by item.id">
                                                <!-- <option ng-repeat="item in company" value="{{item.id}}">{{item.name}} </option> -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Có sẵn</label>
                                <div class="col-sm-10">
                                    <div class="form-check-inline my-1">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" ng-value="true" ng-model="productdata.available"
                                                name="available" id="stock" class="custom-control-input" selected="true"
                                                required>
                                            <label class="custom-control-label" for="stock">Còn hàng</label>
                                        </div>
                                    </div>
                                    <div class="form-check-inline my-1">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" ng-value="false" ng-model="productdata.available"
                                                name="available" id="sold" class="custom-control-input" required>
                                            <label class="custom-control-label" for="sold">Hết hàng</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 form-group mb-2">
                            <label>Thông tin sản phẩm</label>
                            <textarea class="form-control" rows="10" name="description"
                                ng-model="productdata.description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button ng-click="create()" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Create
                    </button>
                    <button ng-click="update()" class="btn btn-success">
                        <i class="far fa-save"></i> Update
                    </button>
                    <button ng-click="delete(form)" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                    <button ng-click="reset()" class="btn btn-secondary">
                        <i class="fas fa-redo"></i> Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>